


<HTML>
    

    <BODY bgcolor="purple">
    <BODY text = "white"></BODY>
    <form method="POST" action="/add NPC" onsubmit="alert('NPC has been successfully added')"  >
        <center>
        <H1>Add new NPC</H1> <br>
		
        Name <input type = "text" name= "Name" required/> <br>

        <label for="strength">Strength</label>
        <input type ="number" id = "strength" name = "strength" min="0" max = "6" value="0"><br>


        <label for="craft">Craft</label>
        <input type ="number" id = "craft" name = "craft" min="0" max = "6" value="0"><br>
        

        <label for="life">Life</label>
        <input type ="number" id = "life" name = "life" min="1" max = "99" value="1"><br>

         




     
        
        
		
        
		
		
		
        </br>
        



        
        <input type = "submit" name="submit" value="Add NPC">
        
        </center>
    </form>

    <form method="POST" action="/">
        <center>
        <input type = "submit" formnovalidate  name="cancel" value="Cancel" >
        </center>
    </form>

    </BODY>
    </HTML>