<HTML>
    <BODY bgcolor="purple">
    <form method="POST" action="/">
    <BODY text = "white">
        
    
        <center>
        <H1 style = "font-family: 'Courier New', Courier, monospace; font-size:55px; position: relative; top: 20px ">Welcome to Journey to Cairyn </H1> <br>
        </center>

        <H2 style= " position: absolute; left: 180px  ;top:100px; font-family: 'Courier New', Courier, monospace; font-size:45px"> Player Menu </H2> 
        <H3 style= " position: absolute; left: 600px  ;top:92px; font-family: 'Courier New', Courier, monospace; font-size:45px"> World Menu </H3>   
        <H4 style= " position: absolute; left: 1000px  ;top:77px; font-family: 'Courier New', Courier, monospace; font-size:45px"> Game Menu </H4>   

        <br>
        <br>
        <br>
        <br>
      
        <input type = "submit" style="height: 50px; width: 250px ; position: absolute; left: 200px" name="addplayer" value="Add a player to the database"> <br>
        <br>
        <br>
        <br>
        

        
        
        <input type = "submit" style="height: 50px; width: 250px ; position: absolute; left: 200px" name="viewinventory" value="View and modify inventory"><br>





        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 610;top: 200" name="addencounter" value="Add an encounter to the database"><br>
        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 610;top: 270 "name="viewallencounters" value="View all encounters"><br>
        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 610;top: 340 " name="addlocation" value="Add a location to the database"><br>





        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 1000;top: 200" name="viewnpc" value="View all NPCs"><br>
        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 1000;top: 270" name="addnpc" value="Add a NPC to the database"><br>
        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 1000;top: 340" name="viewitems" value="View all items"><br>
        <input type = "submit" style="height: 50px; width: 250px; position:absolute; left: 1000;top: 410" name="additem" value="Add a item to the database"><br>


		
    </form>
    </BODY>
    </HTML>