<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="/">
        <center>
        <H1>Welcome to Journey to Cairyn </H1> <br>
        
        <input type = "submit" name="addplayer" value="Add a player to the database"> <br>
        <input type = "submit" name="viewinventory" value="View and modify inventory"><br>
        <input type = "submit" name="addencounter" value="Add an encounter to the database"><br>
        <input type = "submit" name="viewallencounters" value="View all encounters"><br>
        <input type = "submit" name="addlocation" value="Add a location to the database"><br>





        <input type = "submit" name="viewnpc" value="View all NPCs"><br>
        <input type = "submit" name="addnpc" value="Add a NPC to the database"><br>
        <input type = "submit" name="viewitems" value="View all items"><br>
        <input type = "submit" name="additem" value="Add a item to the database"><br>


		</center>
    </form>
    </BODY>
    </HTML>